// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

/* -------------------------------------------------------------------------------------------------------------------*/
/* Eksempel på AOS-animation på klasser =  <div class="box" data-aos="fade-up" data-aos-duration="1000"> */

$theme-colors: (
				"primary":    $primary,
				"secondary":  $secondary,
				"success":    $success,
				"info":       $info,
				"warning":    $warning,
				"danger":     $danger,
				"light":      $light,
				"dark":       $dark
);


$farve1:#f0f2f1;
$farve2:#ffd571;
$farve3:#ffb714;
$farve4:#d2721a;
$farve5:#69c8ff;

.farve1{
	color: $farve1;
}

.farve2{
	color: $farve2;
}

.farve3{
	color: $farve3;
}

.farve4{
	color: $farve4;
}

.farve5{
	color: $farve5;
}


#logo{
	content: url("../images/logo.png");
	max-height: 60px;
}

.heroContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}




